@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.footer {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    box-shadow: 2px 5px 5px 5px gray;
    font-family: 'Oswald', !important;
}

.footer .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    color: black!important;
}

.footer .frameImgIcons{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 50px;
}

.footer a,
a span,
ul, li{
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin-top: 7px;
    gap: 15px;
}



@media screen and (min-width: 375px) and (max-width: 575px){
    .footer .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding-right: 120px;
        padding-left: 120px;
    }
}

@media screen and (min-width: 576px) and (max-width: 1200px){
    .footer .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding-right: 120px;
        padding-left: 120px;
    }

    .footer .row {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
}